#worldeditor{
	border: dashed 1px #000;
	width: 80%;
	height: 100%;
	display: block;
}

.editorcontainer{
	height: 85%;
}

.row{
	height: 100%;
}

.btn{
	width: 100%;
}

html{
	height: 100%;
}

body{
	height: 100%;
}

