<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>STRL</title>
	<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7/css/bootstrap.css">
	<script src="libs/jquery/jquery-3.2.1.js"></script>
	<script src="libs/bootstrap-3.3.7/js/bootstrap.js"></script>

</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">STRL</a>				
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="index.html">Главная</a></li>
				<li><a href="worldeditor.html">Редактор</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="sign_in.html"><span class="glyphicon glyphicon-user"></span> Вход</a></li>
				<li><a href="sign_up.html"><span class="glyphicon glyphicon-plus"></span> Регистрация</a></li>				
			</ul>
			
		</div>	
	</div>

	<div class="container">
		<h1>Pymteam project</h1>		
	

	</div>

</body>
</html>