{% extends 'base.html' %}
{% block content %}

<script type="text/javascript">activePage("index_page")</script>
<div class="row">
<div class="col-xs-6 col-sm-6 col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">GitHub проекта</div>
		<div class="panel-body">
			<p><a href="https://github.com/Pymteam/strl">https://github.com/Pymteam/strl</a></p>
		</div>
	</div>
</div>
<div class="col-xs-6 col-sm-6 col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">Почта проекта</div>
		<div class="panel-body">
			<p>pymteam@mail.ru</p>
	</div>
</div>
</div>
{% endblock %}
