
{% extends 'base.html' %}
{% block content %}

<script type="text/javascript">activePage("sign_up_page")</script>
<form class="form-horizontal" action="" method="post" name="sign_up">
    {{ form.hidden_tag() }}
    <h1>Регистрация</h1>
    <div class="input-group" {% if form.nickname.errors %} error {% endif %}>
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <!--<input id="username" type="text" class="form-control" name="username" placeholder="Введите ваше имя">-->
        <div class="controls">
            {{ form.nickname(class="form-control", placeholder="Введите ваше имя") }}
            {% for error in form.nickname.errors %}
                <span class="help-inline">[{{ error }}]</span><br>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="input-group" {% if form.email.errors %} error {% endif %}>
        <span class="input-group-addon"><i class="glyphicon glyphicon-inbox"></i></span>
        <!--<input id="email" type="text" class="form-control" name="email" placeholder="Введите ваш e-mail">-->
        {{ form.email(class="form-control", placeholder="Введите ваш e-mail") }}
        {% for error in form.email.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <br>
    <div class="input-group" {% if form.password.errors %} error {% endif %}>
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <!--<input id="password" type="password" class="form-control" name="password" placeholder="Введите ваш пароль">-->
        {{ form.password(class="form-control", placeholder="Введите ваш пароль") }}
        {% for error in form.password.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <br>
    <div class="input-group" {% if form.confirm.errors %} error {% endif %}>
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <!--<input id="password" type="password" class="form-control" name="password" placeholder="Подтвердите ваш пароль">-->
        {{ form.confirm(class="form-control", placeholder="Подтвердите ваш пароль") }}
        {% for error in form.confirm.errors %}
            <span class="help-inline">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <br>
    <!--<button type="button" class="btn btn-primary">Зарегистрироваться</button>-->
    <div class="control-group">
        <div class="controls">
            <input class="btn btn-primary" type="submit" value="Зарегистрироваться">
        </div>
    </div>
</form>

{% endblock %}
