<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>STRL</title>
	<link rel="stylesheet" type="text/css" href="static/libs/bootstrap-3.3.7/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="static/css/editor.css">
	<script src="static/libs/jquery/jquery-3.2.1.js"></script>
	<script src="static/libs/bootstrap-3.3.7/js/bootstrap.js"></script>
	<script src="static/libs/SVG/svg.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{url_for('index')}}">STRL</a>				
			</div>
			<ul class="nav navbar-nav">
				<li ><a href="{{url_for('index')}}">Главная</a></li>
				<li class="active"><a href="{{url_for('world_editor')}}">Редактор</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{url_for('sign_in')}}"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li>
				<li><a href="{{url_for('sign_up')}}"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
				<li><a href="{{url_for('index')}}"><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>
			</ul>
			
		</div>	
	</div>

	<div class="container editorcontainer">
		<div class="row">
			<div id="panels_obj_prop"  class="col-md-2 col-sm-2">
				<div id="container-objects" class="row">
					<div id="panel-objects" class=" panel panel-primary">
						<div class="panel-heading">Объекты</div>
						<div class="panel-body">
							
						</div>
					</div>
				</div>
				<div id="container-properties" class="row">
					<div id="panel-properties" class=" panel panel-primary">
						<div class="panel-heading">Свойства</div>
						<div class="panel-body">
							
						</div>
					</div>
				</div>
			</div>
			<div id="worldeditor" class="col-sm-8 col-md-8">
				
			</div>
			<div class="col-md-2 col-sm-2 maxheight">
				<div id="container-tools" class="row">
					<div id="panel-tools" class=" panel panel-primary">
						<div class="panel-heading">Инструменты</div>
						<div class="panel-body">
							<div id="btn_addBox" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Прямоугольник</div>
							<div id="btn_addCircle" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Круг</div>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<script src="static/js/basesvg.js"></script>
	<script src="static/js/scene.js"></script>
	
</body>
</html>