{% extends 'base.html' %}

{% block content %}
<div class="container editorcontainer">
    <div class="row">
        <div id="worldeditor" class="col-md-8 col-sm-8">

        </div>
        <div class="col-md-2 col-sm-2">
            <div class="row">
                <div class=" panel panel-primary">
                    <div class="panel-heading">Инструменты</div>
                    <div class="panel-body">
                        <div id="btn_addBox" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Прямоугольник</div>
                        <div id="btn_addCircle" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Круг</div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" panel panel-primary">
                    <div class="panel-heading">Свойства</div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="static/libs/SVG/svg.js"></script>
<script src="static/js/editor.js"></script>
{% endblock %}